<nav>
<figure>
  <img src="../../../assets/images/mediehuset-logo.png" alt="Mediesuset logo">
  <figcaption>
    <h2>MEDIE<span>SUSET</span></h2>
    <p>4 - 5 - 6 - 7. JULI 2020</p>
  </figcaption>

</figure>


    <ul>
        <li><a routerLink="/">KØB BILLET</a></li>
        <li><a routerLink="/">NYHEDER</a></li>


        <li>
        <a routerLink="/">EVENTS</a>
        <span class="material-icons">keyboard_arrow_down</span>

        <ul>
          <li><a routerLink="/">PROGRAM</a></li>
          <li><a routerLink="/">LINE-UP</a></li>
        </ul>
        </li>


        <li><a routerLink="/">CAMPS</a></li>
        <li><a routerLink="/">PRAKTISK INFO</a></li>
        <li><a routerLink="/">LOGIN</a></li>
    </ul>
<span class="material-icons">search</span>

</nav>
